
* {
    margin: 0;
    padding: 0;
    font-family:Roboto, Arial;
}
body{
    background-color: #dde1e7;
}
h4{
    text-align: center;
    padding-top: 40px;
    color: #1DA1F2;
}
header {
    background-color: rgba(180, 215, 235, 0.288);
    height: 60px;
    color: rgb(63, 48, 198);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header img {
    visibility: hidden;
}

header:hover img {
    visibility: visible;
    transition: 0.6s;
    transform: translateX(16vw);
}

header h1 {
    font-size: 25px;
    font-weight: 400;
    user-select: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #1DA1F2;
}

header button {
    padding: 9px 25px;
    font-size: 16px;
    background-color: rgb(34, 157, 223);
    color: white;
    outline: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

header button:hover {
    color: rgb(34, 157, 223);
    background-color:#ecf0f3;
}

.cards {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    gap: 55px 90px;
    justify-content: center;
    align-items: center;
}

.card {
    padding: 10px;
    margin: 20px;
    width: 340px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    background-color: rgba(180, 215, 235, 0.288);
    justify-content: center;
    align-items: center;
    user-select: none;
    border-radius: 4px;
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
    transition: 0.1s ease-out;
}
h4:hover{
    color: black;
    transform: scale(1.1);
    cursor: pointer;

}
.card:hover {
    background-color:#ecf0f3;
    color:rgb(34,157,223);
    transform: scale(1.1);
    cursor: pointer;
}

.card .profile-image img {
    border-radius: 50%;
}

.card .card-content {
    text-align: center;
}

.card .card-content h3 {
    font-weight: 700;
    font-size: 25px;
}

.card .card-content h2 {
    font-size: 20px;
    font-weight: 400;
}
